<main class="conatiner mt-5">
    <h1>Shopping Cart</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <LinkTo @route="index">
                Home
            </LinkTo>
        </li>
    </ol>
    <section class="w-50 ml-auto text-align mb-5">
        <div class="row">
            <span class="col">SubTotal</span>
            <span class="col">{{this.subtotal}}</span>
        </div>
        <div class="row">
            <span class="col">Tax</span>
            <span class="col">{{this.tax}}</span>
        </div>
        <div class="row">
            <span class="col">Total</span>
            <span class="col">{{this.total}}</span>
        </div>
    </section>
</main>
<LinkTo @route="index">
</LinkTo>
{{outlet}}